* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(192, 232, 255);
    color:brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    background-color: blue;
    color: yellow;
    text-align: center;
    font-size: 32px;
    padding: 10px 40px;
        margin-bottom: 100px;
}

main {
    color: violet;
    text-align: center;
    font-size: large;
    font-weight: 2000;
    display: inline;
}
 main li {
    list-style: none;
    display: inline;
    
 }

 main a {
    color: tomato;
    text-decoration: none;
    font-weight: 500;
    background-color: blueviolet;
    border: 2px solid black;
    padding: 12px 20px;
    margin: 40px;
 }

 section {
    background-color: black;
 }
